<div class="container d-flex justify-content-center align-items-center landing-component mt-5">
    <div class="row mt-5">
      <div class="col-md-6 mt-5">
        <div class="card text-bg-dark m-3 h-100">
          <div class="card-header text-light">Customer Module</div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Login through Customer Portal</h5>
            <p class="card-text">Access all the features of our platform by logging in through the customer portal.</p>
            <button class="btn btn-primary" routerLink="/customer">Login</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card text-bg-dark m-3 h-100">
          <div class="card-header text-light">Shop Module</div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Manage Shops and Services</h5>
            <p class="card-text">Add, edit, or delete shops and services for your business.</p>
            <button class="btn btn-primary" routerLink="/shop">Manage Shops and Services</button>
          </div>
        </div>
      </div>
    </div>      
  </div>
  