.landing-component .card {
    background: linear-gradient(to bottom right, #4b6cb7, #000);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .landing-component .card-header {
    background: #4b6cb7;
    color: #fff;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
  }
  
  .landing-component .card-title {
    color: #fff;
  }
  
  .landing-component .card-text {
    color: #eee;
  }
  
  .landing-component .card-footer {
    background: #4b6cb7;
    color: #fff;
    border-top: none;
    border-radius: 0 0 10px 10px;
  }