<h2 style="padding-bottom: 10px;" class="m-3">Take Action on the Appointment</h2>
<div style="padding-bottom: 20px;">
  <form [formGroup]="updateForm">
    <div class="m-3 col-6">
      <label for="startDate" class="form-label">Start Date</label>
      <input type="date" class="form-control" id="startDate" formControlName="start_time" (dateChange)="onDateChangeStartDate($event)">
    </div>
    <div class="m-3 col-6">
      <label for="endDate" class="form-label">End Date</label>
      <input type="date" class="form-control" id="endDate" formControlName="end_time" (dateChange)="onDateChangeEndDate($event)">
    </div>
    <div class="m-3 col-6">
      <label for="status" class="form-label">Status</label>
      <select class="form-select" id="status" formControlName="status">
        <option value="In Progress">Start Service</option>
        <option value="Completed">Completed</option>
      </select>
    </div>
  </form>
</div>

<div class="row">
    <div class="col-8 my-3 mx-2">
        <button type="button" class="btn btn-info" (click)="processPayment()">Process Payment</button>
        <br>
        <small>Process the payment of appointment, and mark as completed</small>
    </div>
    <div class="col my-3 mx-2">
        <button type="button" class="btn btn-primary" (click)="onUpdate()">Update Appointment</button>
    </div>
</div>
