/* Center the modal vertically and horizontally */
.edit-service-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  /* Style the form and form field */
  .vertical-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  /* Center the dialog buttons */
  .dialog-buttons {
    display: flex;
    justify-content: center;
  }
  