<!-- Dialog box to update password  -->
<mat-dialog-content>
    <h2 mat-dialog-title class="">Update Password</h2>
    <form [formGroup]="updatePasswordForm" class="form">
      <mat-form-field class="full-width">
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" type="password" placeholder="Enter Old Password">
        <!-- <mat-error *ngIf="updatePasswordForm.controls.oldPassword.invalid">{{getOldPasswordErrorMessage()}}</mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="password" placeholder="Enter New Password">
        <!-- <mat-error *ngIf="updatePasswordForm.controls.newPassword.invalid">{{getNewPasswordErrorMessage()}}</mat-error> -->
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn btn-sm btn-danger m-2">Cancel</button>
    <button class="btn btn-sm btn-primary m-2" [disabled]="updatePasswordForm.invalid" (click)="onSave()">Save</button>
  </mat-dialog-actions>