<div class="container customer-component">
<!-- Greeting Message-->
<div class="row mt-3">
    <div class="col-12 text-center">
      <h3 class="text-primary font-weight-bold">Welcome, Kevin Holland</h3>
      <p class="lead mt-3">We are delighted to have you here!</p>
    </div>
  </div>
  
    <!-- Customer Body  -->
    <div class="row">
      <div class="col-md-6">
        <div class="card text-bg-light m-3 h-100">
          <div class="card-header text-light">Vehicles 
            <i class="bi bi-car-front m-2"></i>
            <i class="bi bi-ev-front m-2"></i>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Manage Your Vehicles</h5>
            <p class="card-text">You can add, edit or delete your vehicles.</p>
            <button class="btn btn-primary" routerLink="/customer/vehicles">Manage Vehicles</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-light m-3 h-100">
          <div class="card-header text-light">Services
            <i class="bi bi-droplet-fill m-2"></i>
            <i class="bi bi-tools m-2"></i>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Schedule an Appointment</h5>
            <p class="card-text">You can view services offered and schedule an appointment.</p>
            <button class="btn btn-primary" routerLink="/customer/services">Manage Services</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <div class="card text-bg-light m-3 h-100">
          <div class="card-header text-light">Appointments
            <i class="bi bi-calendar-check m-2"></i>
            <i class="bi bi-clock m-2"></i>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">View Your Appointments</h5>
            <p class="card-text">You can view appointments, make payments and track status.</p>
            <button class="btn btn-primary" routerLink="/customer/manage-appointments">Manage Appointments</button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card text-bg-light m-3 h-100">
          <div class="card-header text-light">Profile
            <i class="bi bi-person-circle m-2"></i>
            <i class="bi bi-sliders m-2"></i>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Profile Settings</h5>
            <p class="card-text">You can make changes to your profile.</p>
            <button class="btn btn-primary" routerLink="/customer/manage-profile">Manage Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  